.container {
    text-align: center;
   padding-top: 22px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    background-color: #f8f8f8;
}
.container h1 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}

.contenedor {
    display: grid;
    /*
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
}

.boton {
    padding: 5px 20px;
    background-color: #004a99;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    line-height: 18px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}
.boton:hover {
    padding: 5px 20px;
    background-color: #1686ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    line-height: 18px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    width: 80%;
    border: 0px;
    margin: auto;
    transition: transform 0.3s ease-in-out;
    background-color: #f8f8f8;
}


.imagen {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-title {
    font-size: 18px;
    margin: 10px 0;
}

@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}